global:
  smtp_smarthost: '{{ SMTP_SMARTHOST }}'
  smtp_from: 'alertmanager@prometheus.com'
  smtp_auth_username: ''
  smtp_auth_password: ''
  smtp_require_tls: false

templates:
- '{{ ALERTMANAGER_TEMPLATES }}'

route:
  #group_by: ['instance']
  repeat_interval: '24h'
  group_wait: '30s'
  receiver: 'operations-team'

inhibit_rules:
- source_match:
    severity: 'critical'
  target_match:
    severity: 'warning'
  # Apply inhibition if the alertname is the same.
  equal: ['alertname', 'instance']

receivers:
- name: 'operations-team'
  email_configs:
  - to: '{{ EMAIL_ALERTS_RECEIVER }}'
    send_resolved: true
